<!DOCTYPE html>
<!--
 - File              : about.html
 - Author            : Channith Am <amcnith@gmail.com>
 - Date              : 23.09.2017
 - Last Modified Date: 23.09.2017
 - Last Modified By  : Channith Am <amcnith@gmail.com>
-->

<html>
	<head>
		<meta charset="utf-8">
		<title>Howdy!</title>
	</head>
	<body>
		<h1>Welcome to the about page</h1>
		<p>
		I am Channith, a student at Hanoi University of Science and Technology. I am from cambodia.
		</p>
		<a href="/">Go back home</a>
	</body>
</html>
